<div class="container">
  <div class="row row-top">
    <div class="span4 column1">
      <h2 class="centered-text">Poll your Audience Live</h2>
      <div class="icon-container">
          <i class="icon-users icon-center"></i>
      </div>
      <h2 class="centered-text">Display Results in Realtime</h2>
    </div>
    <div class="span4 column2">
      <div class="sign-in-form centered">
        <form class="form-signin" action="<%= session_url %>" method="POST">
          <h2 class="form-signin-heading">Please sign in</h2>
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

          <input type="text" name="user[email]" placeholder="Email">
          <br>

          <input type="password" name="user[password]" placeholder="Password">
          <br>
          <a href="<%= show_email_form_session_url %>">Forgot/Reset Password</a>
          <br>
          <br>

          <button class="btn btn-primary" type="submit">Sign In</button> 
        </form>
      </div>
    </div>
    <div class="span4 column3">
      <h2 class="centered-text">Audience Texts by Phone</h2>
      <div class="icon-container">
        <i class="icon-phone icon-center"></i>
      </div>
    </div>
  </div>
</div>
