<div class="container">
  <div class="row">
    <div class="span4 column1"></div>
    <div class="span4 column2">
      <div class="email-form">
        <form class="form-email" action="<%= reset_password_session_url %>" method="POST">
          <h2 class="form-email-heading">Enter New Password</h2>
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <input type="hidden" name="confirm_token" value="<%= @confirm_token %>">

          <input type="password" name="password" placeholder="Password">
          <br>

          <button class="btn btn-primary" type="submit">Submit</button> 
        </form>
      </div>
    </div>
    <div class="span4 column3"></div>
  </div>
</div>
