<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Please confirm your email </h3>
    <p>
      Hello <%= @user.username %>,
    </p>
    <p>
    Welcome to pollfor.us! Please visit <a href="#">this link</a> (#) to confirm your email address for your account.
    </p>
    <p>Thanks for joining and have a great day!</p>
    <p>
  </body>
</html>
