<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Password Reset Request</h3>
    <p>
      Hello <%= @user.username %>,
    </p>
    <p>
       It looks to us here at pollfor.us that you sent a request for a password reset. Please visit <a href="<%= @url %>">this link</a> (<%= @url %>) to reset your password.
    </p>
    <p>Thanks and have a great day!</p>
  </body>
</html>
