Password Reset Request</h3>
Hello <%= @user.username %>,
It looks to us here at pollfor.us that you sent a request for a password reset. Please visit <%= @url %> to reset your password.
Thanks and have a great day!
