<li class="answer" id="a<%= aId %>">
  <input type="text" class="input-xlarge" name="poll[questions][<%= qId %>][answers][<%= aId %>][body]" placeholder="Answer" value="<%= answer.get("body") %>">
</li>
