<form class="new-poll">
  <label >Poll Name <input type="text" name="poll[name]" value="<%= poll.escape("name") %>">
  </label>
  <div class="questions">
  </div>
  <a class="add-question" href="#">Add Question</a>
  <br>
  <input type="submit" value="Submit">
</form>
