<h3>New Poll</h3>
<form action="<%= polls_url %>" method="POST">
  <label for="name">Name</label>
  <input type="text" name="poll[name]" id="name">
  <br>
  <a class="add-question btn btn-primary" href="#">Add Question</a>
  <div class="questions">
  </div>
  <br>
  <input type="submit" value="Create Poll!">
</form>
<script>
  $(document).ready(function() {
    $(".add-question").click(function() {
      event.preventDefault();
      addQuestion();
    });

    var addQuestion = function() {
      $(.question).append("<input type='text'>");
    }
  });
</script>
