<div class="row row-top">
  <div class="errors"></div>
  <div class="warnings"></div>
  <div class="successes"></div>
  <div class="span4 column1">
    <h3 class="centered-text">Engage your Audience</h3>
    <div class="icon-container">
        <i class="icon-users icon-center"></i>
    </div>
    <h3 class="centered-text">Poll them Live</h3>
  </div>
  <div class="span4 column2">
    <div class="sign-in-form">
      <h3 class="form-signin-heading">Please Sign in</h3>
      <form class="form-signin">
        <input type="text" name="user[email]" placeholder="Email">
        <br>

        <input type="password" name="user[password]" placeholder="Password">
        <br>
        <a href="/session/show_email_form">Forgot/Reset Password</a>
        <br>
        <br>

        <button class="btn btn-primary" type="submit">Sign In</button> 
        <a href="/users/new" class="btn btn-primary">Sign Up</a>
        <br>
        <br>
        <a href="/session/guest_login" class="btn btn-primary">Guest</a>

      </form>
    </div>
  </div>
  <div class="span4 column3">
    <h3 class="centered-text">Audience Texts Vote</h3>
    <div class="icon-container">
      <i class="icon-phone icon-center"></i>
    </div>
    <h3 class="centered-text">Results Displayed in Realtime</h3>
  </div>


</div>
