div.poll-item {
  border: 1px solid #d8d8d8;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #fff;
  border-bottom-width: 2px;
  margin: 10px 0 20px 0;
  padding: 20px 20px;
  width: 600px;
}

a.poll-name {
  max-width: 450px;
  font-size: 24px;
  font-weight: 700;
  margin: 50px, 0;
  padding: 50px, 0;
}

div.poll-buttons {
  display: inline;
  float: right;
  font-size: 24px;
  vertical-align: middle;
}

div.icon-container {
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 150px;
  display: inline-block;
}

.centered-text {
  margin-top: 35px;
  text-align: center;
}

.icon-center {
  position: relative;
}

.icon-check {
  color: #289E73;
}

.icon-users {
  font-family: FontAwesome;
  color: #289E73;
}
.icon-users:before {
  content: "\f0c0";
}

.icon-phone {
  font-family: FontAwesome;
  color: #289E73;
}

.icon-phone:before {
  content: "\f095";
}

a.logo {
  padding: 0;
  margin: 0;
}

div.answer-color {
  height: 15px;
  width: 15px;
  float: left;
  margin: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

ul.answers {
 list-style-type: none;
}
li.answer {
  margin: 10px;
}

li.live-answer {
  margin-top: 15px;
  margin-bottom: 15px;
}

a:hover.no-underline {
  text-decoration: none;
}

li.live-answer {
  font-size: 17.5px;
  font-weight: 700;
  width: 475px;
}

div.question {
  border: 1px solid #d8d8d8;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #fff;
  border-bottom-width: 3px;
  padding: 20px 20px;
  margin: 10px 20px 10px 0px;
  width: 450px;
  height: 300px;
  float: left;
  position: relative;
  overflow: auto;
}

ul.answers {
  float: left;
}

canvas.results-chart {
  float: left;
}

div.live-question {
  border: 1px solid #d8d8d8;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #fff;
  border-bottom-width: 3px;
  padding: 5px 20px 20px 20px;
  margin: 10px 20px 10px 0px;
  width: 750px;
  float: left;
  float: left;
  position: relative;
  overflow: auto;
}

.pos-upper-right {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 16px;

}

.after-questions {
  clear: both;
}

div.navbar-button {
  margin-top: 15px;
}
div.sign-in-form {
  position: relative;
  margin: 0 auto;
  width: 215px;
}

div.new-poll {
  margin: 10px auto;
}

