<% if current_user %>
    <a href="<%= sign_out_session_url %>" class="btn btn-primary" style="margin-top:27px;">Sign Out</a>
<% else %>
    <a href="<%= new_session_url %>" class="btn btn-primary" style="margin-top:27px;">Sign In</a>
    <a href="<%= new_user_url %>" class="btn btn-primary" style="margin-top:27px;">Sign Up</a>
<% end %>
