<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand logo" href="#"><img src="../pollforus_logo_smaller.png"></a>
      <div class="nav pull-right log-in-content">
        <%= render "/layouts/log_in" %>
      </div>
    </div>
  </div>
</div>
