<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand logo" href="#"><img src="assets/pollforus_logo.png"></a>
      <ul class="nav pull-right">
        <%= render "/layouts/log_in" %>
      </ul>
    </div>
  </div>
</div>
